.DS_Store
.cache
npm-debug.log
Thumbs.db
node_modules/
.build/
.vscode/extensions/**/out/
extensions/**/dist/
/out*/
/extensions/**/out/
build/node_modules
coverage/
test_data/
test-results/
test-results.xml
vscode.lsif
vscode.db
/.profile-oss
/cli/target
/cli/openssl
product.overrides.json
*.snap.actual
.vscode-test

# Raccoon added these:
.tmp/
.tmp2/
.tool-versions
src/vs/workbench/contrib/void/browser/react/out/**
src/vs/workbench/contrib/void/browser/react/out/**
src/vs/workbench/contrib/void/browser/react/src2/**

# Build and compile logs
*.txt
*.log
*.err
build_err3
setup_log_utf8
tsc_raccoon_errors_utf8
clean_err
clean_log
build_log
build_output
build_log_client
build_log_extensions
build_log_fixed
build_log_models
build_log_new
compile_err_3
compile_err_3_utf8
compile_log
compile_log_2
compile_log_3
compile_log_4
compile_log_6
compile_log_tail_utf8
compile_log_utf8
debug_build
debug_build_utf8
setup_log
setup_log_utf8
tsc_errors
tsc_errors_2
tsc_errors_utf8
tsc_output
tsc_output_utf8
tsc_raccoon_errors
tsc_raccoon_errors_utf8
